.LoginPage {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #07004d, #271f7d, #07004d);
}
.PageTitle {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: clamp(2.3rem, 3.3vw, 3.3vw);
  width: 290px;
  text-align: center;
  border-bottom: 2px solid black;
  margin: 50px 0px 20px 0px;
  cursor: default;
}
.ContainerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6e6e6;
  width: 30vw;
  min-width: 300px;
  height: 450px;
  border-radius: 15px;
  padding-bottom: 10px;
  box-shadow: inset 0px 0px 12px black;
}
.UserInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.EmailArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Protest Strike", sans-serif;
  font-size: clamp(17px, 1.24vw, 1.24vw);
}
.EmailArea input {
  height: 40px;
  width: 24vw;
  min-width: 200px;
  background-color: #6b717e;
  color: white;
  border: 1px solid rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}
.EmailArea input::placeholder {
  color: white;
}
.PasswordArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Protest Strike", sans-serif;
  font-size: clamp(17px, 1.24vw, 1.24vw);
}
.PasswordArea input {
  width: 24vw;
  min-width: 200px;
  height: 40px;
  background-color: #6b717e;
  color: white;
  border: 1px solid rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}
.PasswordArea input::placeholder {
  color: white;
}
.ConfirmButton {
  width: 140px;
  height: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(12px, 1.2vw, 1.2vw);
  margin-top: 15px;
  background-color: #f71717;
  color: white;
  border-radius: 3px;
  transition: 0.2s ease;
  cursor: pointer;
}
.ConfirmButton:hover {
  transform: scale(1.09);
}
.PasswordForgout {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  width: 0px;
  margin: 20px 0px 0px 0px;
  white-space: nowrap;
  color: black;
  transition: all 0.7s ease;
  border-bottom: 1px solid black;
}

.PasswordForgout:hover {
  display: flex;
  justify-content: center;
  animation: show 0.8s ease forwards;
  padding: 0px 76px 0px 76px;
  text-align: center;
  margin: 20px 0px 0px 0px;
}
.UserNavigation {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media screen and (width < 1130px) {
  .UserNavigation {
    flex-direction: column;
    align-items: center;
  }
}
