.ClassBackground {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #000000, #000000a0, #000000);
  z-index: 1001;
}
.ClassBackground h2 {
  color: #8f8f8f;
  font-size: clamp(19px, 2vw, 1.2rem);
}
.ClassAprimorado {
  background-image: linear-gradient(to bottom, #07004d, #271f7d, #07004d);
  color: black;
  padding: 20px;
  width: 50vw;
  height: 70vh;
  z-index: 1001;
  border-radius: 15px;
  border: 2px solid white;
}
.ClassSelected {
  color: gold !important;
}
.ClassDescription {
  font-size: clamp(13px, 1.4vw, 3rem);
  color: #ffffff;
}
.ClassSelected {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(18px, 2vw, 4rem);
  margin: 4px 0px 6px;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
.ClassAttributesList {
  color: #ffffff;
}
.ClassMaestria {
  color: #00ffe1;
  border: 2px solid #00ffe1;
  text-shadow: 0px 0px 10px #00ffe1ae;
  width: clamp(100px, 2vw, 600px);
  text-align: center;
}
.ButtonClose {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 97%;
  width: clamp(23px, 1vw, 40px);
  height: clamp(23px, 1vw, 40px);
}
